<div class="container">
  <div class="row my-5">
    <h2 class="font-name">コミュニティ一覧</h2>
    <div class="ml-auto"><%= render 'layouts/public_search' %></div>
  </div>
  <div class="row my-4">
    <div class="ml-auto mr-3">
      <%= link_to new_group_path, class:"font-name btn btn-success" do %>
        <i class="fas fa-users"></i> コミュニティを追加
      <% end %>
    </div>
  </div>
  
  <%= render 'public/groups/index', groups: @groups %>
  
  <div class="pagination">
    <%= paginate @groups %>
  </div>
  
</div>