<div class="about-visual">
  <div class="container py-5">
    <div class="about-contents mx-auto">
      <h2 class="row justify-content-center pt-5">クリコミへようこそ！</h2>
      <p class="row mx-5 mt-4">
        クリコミはこれから始める方～チャンネル登録者数8万までのクリエイターに向けて、クリエイター同士の情報交換やDMなどが行えるYouTube活動を支援するコミュニケーションアプリです。<br/>
        趣味として副業としてあるいは本業として、様々な方が今YouTubeを始める方が増えてきています。<br/>
        その中で、実際に始めようとすると何をどのように始めればよいか悩まれなかなか1歩踏み出せない方や、他のクリエイターと関わりながらチャンネルを盛り上げたいと考えている方もいると思います。<br/>
        そこで、これからYouTubeを始める人や今すでに始めているがこれからさらに盛り上げていきたい方へ、このアプリの掲示板やDM、コメントを通じこれからの活動を盛り上げて頂けたら幸いです。
      </p>
    </div>
  </div>
</div>
