<div class="already_work-visual">
  <div class="container py-5">
    <div class="already_work-contents mx-auto">
      <h2 class="row justify-content-center pt-5">既にYouTubeで活動している方へ</h2>
        <p class="row mx-5 mt-4">
          これからのYouTube活動をさらにステップアップをしていきたい方へこのアプリを通じてチャンネルを盛り上げていきましょう！<br/>
          このアプリではグループ掲示板を使う事で、同ジャンルの人と意見交換をしたり、コラボの依頼、あるいはグループYouTuberで活動していく上でメンバーを見つけたい
          といった他のクリエイターとのキッカケを作ることができます！<br/>
          さらに、フォローフォロワー機能で気に入ったクリエイターを登録することもでき、いいね機能で掲示板の内容をお気に入り登録するこもできます!
        </p>
    </div>
  </div>
</div>