<div class="beginner-visual">
  <div class="container py-5">
    <div class="beginner-contents mx-auto">
      <h2 class="row justify-content-center pt-5">これからYouTubeを始める方へ</h2>
      <p class="row mx-5 mt-4">
        YouTubeを通じて自分の趣味や特技、好きなことを発信していきたい！<br/>
        でもどんな動画を作っていけばいいか、機材は何を使えばいいか始める上で色々な問題や悩みが出てくると思います。<br/>
        そんな時は、このアプリの掲示板機能を使い、既に始められている方と意見交換をしたり、似たジャンルで活動されている方を見つけあなたの今後の活動のイメージをつかみましょう！<br/>
        さらに、フォローフォロワー機能で気に入ったクリエイターを登録することもでき、いいね機能で掲示板の内容をお気に入り登録するこもできます!
      </p>
    </div>
  </div>
</div>