
<div class="container col-12">
  <% group_post.group_post_comment.each do |group_post_comment| %>
  <div class="card border-dark mt-3">
    <div class="row mt-4 ml-2">
      <div><%= attachment_image_tag group_post_comment.user, :profile_image, :fill, 60, 60, fallback: "no-image.png", size: "60x60", class:"rounded-circle" %></div>
      <div class="d-flex align-items-center ml-3"><%= group_post_comment.user.name %></div>
    </div>
    <div class="ml-2">
      <div class="my-2"><%= simple_format(group_post_comment.comment) %></div>
    </div>
    <div class="row justify-content-center">
      <% if group_post.user == current_user %>
        <%= link_to "削除", group_post_group_post_comment_path(group_post.id, group_post_comment.id), method: :delete, remote: true, class: "btn btn-sm btn-danger mb-2" %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>