<div class="container">
  <h2>管理者メニュー</h2>
    <div class="row">
      <%= link_to "会員一覧", admin_users_path %>
    </div>
    <div class="row">
      <%= link_to "コミュニティ一覧", admin_groups_path %>
    </div>
    <div class="row">
      <%= link_to "ジャンル一覧", admin_genres_path %>
    </div>
</div>