<div class="main-visual">
  <div class="container">
    <div class="row  py-5">
      <div class="about-contents mx-auto">
        
      </div>
    </div>
    <div class="row pb-5">
      <div class="beginner-contents mx-auto">
        
      </div>
      <div class="already_work-contents mx-auto">
        
      </div>
    </div>
    <div class="col-6 mx-auto">
      <div class="pb-3"><%= link_to "新規登録", new_user_registration_path, class:"btn btn-success form-control" %></div>
      <div><%= link_to "ログイン", new_user_session_path, class:"btn btn-primary form-control" %></div>
    </div>
  </div>
</div>