<div class="container">
  <div class="row my-5">
    <h2 class="font-name">コミュニティ一覧</h2>
    <div class="ml-auto"><%= render 'layouts/admin_search' %></div>
  </div>
  
  <%= render 'admin/groups/index', groups: @groups %>
  
  <div class="pagination">
    <%= paginate @groups %>
  </div>
  
</div>