/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// 初期位置の確定
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #E55E4C;
  font-family: "Noto Sans Mono CJK JP"; font-weight: bold;
}

// 見出しのフォント
.font-name {
  font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif; font-weight: bold;
}

//　エラーメッセージによるレイアウト崩れを修正
.field_with_errors {
  display: contents;
}

// 背景画像の設定
.top-visual {
  background-image: image-url("main.jpg");
  width: auto;
  height: 600px;
  background-size: contain;
  background-size: cover;
  // 背景色の透過
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

.about-contents {
  width: 500px;
  height: 163px;
  background-color: rgba(255, 255, 255, 0.5);
}

.beginner-contents {
  width: 500px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.5);
}

.already_work-contents {
  width: 500px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.5);
}

// 背景画像の設定
.about-visual {
  background-image: image-url("about.jpg");
  width: auto;
  height: 800px;
  background-size: contain;
  background-size: cover;
  // 背景色の透過
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  // background-position: 700px 0px;
  .about-contents {
    width: 800px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

// 背景画像の設定
.beginner-visual {
  background-image: image-url("beginner.jpg");
  width: auto;
  height: 800px;
  background-size: contain;
  background-size: cover;
  // 背景色の透過
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  .beginner-contents {
    width: 800px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

// 背景画像の設定
.already_work-visual {
  background-image: image-url("already_work.jpg");
  width: auto;
  height: 800px;
  background-size: contain;
  background-size: cover;
  // 背景色の透過
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  .already_work-contents {
    width: 800px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

footer {
  background-color: #E55E4C;
}

.pagination {
  justify-content: center;
}

table {
  table-layout: fixed;
}

table th {
  text-align: center;
  vertical-align: middle;
  word-break : break-all;
}

table td {
  text-align: center; 
  vertical-align: middle;
}

// コメント送信フォーム固定
.comment-fixed {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}

// DM送信フォーム固定
.chat-fixed {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
}


// スマートフォンのレスポンシブ対応
@media screen and (max-width: 425px) {
  // 背景画像の設定
.top-visual {
  background-image: image-url("main.jpg");
  width: auto;
  height: 730px;
  background-size: contain;
  background-size: cover;
  // 背景色の透過
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

.about-contents {
  width: 300px;
  height: 140px;
  background-color: rgba(255, 255, 255, 0.5);
  padding-bottom: 20px;
  h1 {
    font-size: 27px;
  }
}

.beginner-contents {
  width: 300px;
  height: 130px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 48px;
  h3 {font-size: 20px;
  }
}

.already_work-contents {
  width: 300px;
  height: 130px;
  background-color: rgba(255, 255, 255, 0.5);
  h3 {font-size: 20px;
  }
}



// 背景画像の設定
.about-visual {
  background-image: image-url("about.jpg");
  width: auto;
  height: 500px;
  background-size: contain;
  background-size: cover;
  // 背景色の透過
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  .about-contents {
    width: 300px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.7);
    h2 {
      font-size: 25px;
    }
    p {
      font-size: 10px;
    }
  }
}

// 背景画像の設定
.beginner-visual {
  background-image: image-url("beginner.jpg");
  width: auto;
  height: 500px;
  background-size: contain;
  background-size: cover;
  // 背景色の透過
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  .beginner-contents {
    width: 300px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.7);
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 10px;
    }
  }
}

// 背景画像の設定
.already_work-visual {
  background-image: image-url("already_work.jpg");
  width: auto;
  height: 500px;
  background-size: contain;
  background-size: cover;
  // 背景色の透過
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-position: 800px;
  .already_work-contents {
    width: 300px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.7);
    h2 {
      font-size: 18px;
    }
    p {
      font-size: 10px;
    }
  }
}

.nav-item {
  font-size: 10px;
}

table th {
  font-size: 15px;
  word-break : break-all;
}

table td {
  table-layout: fixed;
  word-break : break-all;
}

// 新規投稿や編集画面のタイトルのフォントサイズ
.name {
  font-size: 25px;
}
}