/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// 初期位置の確定
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ff0000;
}

// 背景画像の設定
.main-visual {
  background-image: url(top_image.jpg);
  width: auto;
  height: 600px;
  background-size: contain;
  background-size: cover;
  // 背景色の透過
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

.about-contents {
  width: 600px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.5);
}

.beginner-contents {
  width: 500px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.5);
}

.already_work-contents {
  width: 500px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.5);
}

footer {
  background-color: #ff0000;
}