<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="container">

  <div class="row justify-content-center my-4"> 
    <%= link_to user_path(visitor) do %>
      <%= visitor.name %>さん
    <% end %>
   
    <% case notification.action %>
    <% when 'follow' then %>
      <p>があなたをフォローしました</p>
    <% when 'favorite' then %>
      が<%= link_to "あなたの投稿", group_group_post_path(group.id, group_post) %>
      <p>にいいねしました</p>
    <% when 'comment' then %>
      が<%= link_to "あなたの投稿", group_group_post_path(group.id, group_post) %>
      <p>にコメントしました</p>
    <% end %>
  </div>

</div>