<!--自分の投稿などに対し自分が行ったアクションは通知が来ないようにする-->
<% notification = @notifications.where.not(visitor_id: current_user.id) %>

<% if notification.exists? %>
  <%= render notification %>
<% else %>
  <div class="container">
    <div class="row justify-content-center my-4">
      <p>通知はありません</p>
    </div>
  </div>
<% end %>