<footer>
  <div class="container">
    <div class="row justify-content-center py-5 text-white">Copy right © kurikomi All Rights Reserved.</div>
  </div>
  <div class="my-3">
    <%= link_to "お問い合わせ", inquiries_index_path, class:"btn btn-info" %>
  </div>
</footer>