<footer>
  <div class="container">
    <div class="row justify-content-center pt-5 pb-2 text-white">Copy right © kurikomi All Rights Reserved.</div>
    <div class="row justify-content-center py-4">
      <%= link_to "お問い合わせ", inquiries_index_path, class:"btn btn-secondary" %>
    </div>
  </div>
</footer>